.header__links {
    text-align: right;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 30px 4px 0;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .header__links {
        padding-right: 6px;
    }
}

@media screen and (max-width: 320px) {
    .header__links {
        padding-right: 0px;
        padding-bottom: 6px;
    }
}