.place__card {
    list-style-type: none;
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: row;
    gap: 48px 40px;
    justify-items: stretch;
    margin: auto;
    align-items: start;
    padding-top: 49px;
}

@media screen and (max-width: 1024px) {
    .place__card {
        max-width: 928px;
        grid-template-columns: minmax(340px, 440px) 1fr;
        column-gap: 32px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place__card {
        max-width: 720px;
        grid-template-columns: minmax(180px, 340px) 1fr;
        column-gap: 28px;
    }
}


@media screen and (max-width: 450px) {
    .place__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 320px) {
    .place__card {
        max-width: 320px;
        row-gap: 32px;
        padding-top: 32px;
    }
}