/* cover */
.cover {
    /*background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    aspect-ratio: 16 / 10;
    height: auto;
    background-repeat: no-repeat;
    background-origin: border-box;
    box-sizing: border-box;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 92px auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
    flex-direction: column;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
        max-width: 320px;
    }
}