/* place */

.place {
    max-width: 984px;
    margin: auto;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    .place {
        padding-top: 13px;
    }
}


@media screen and (max-width: 768px) {
    .place {
        padding-top: 18px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-top: 16px;
    }
}