/* place */

.place {
    max-width: 984px;
    list-style-type: none;
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: row;
    gap: 48px 40px;
    justify-items: stretch;
    margin: auto;
    align-items: start;
    padding-top: 61px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: minmax(340px, 440px) 1fr;
        gap: 48px 32px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        grid-template-columns: minmax(180px, 340px) 1fr;
        gap: 48px 28px;
        padding-top: 65px;
    }
}


@media screen and (max-width: 450px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        gap: 32px;
        padding-top: 43px;
    }
}