.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 9px;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        padding-bottom: 12px;
    }
}